In [2]:
# importing libraries
import pandas as pd

In [3]:
# default variables
tech_layoffs = pd.read_csv('../data/tech_layoffs.csv', sep=',')

In [4]:
# showing random rows to pre-analyze the data
tech_layoffs.sample(5)

,company,total_layoffs,impacted_workforce_percentage,reported_date,industry,headquarter_location,sources,status,additional_notes
289,Wistia,40,Unclear,11/10/2022,"Video production, marketing","Cambridge, MA",Wistia CEO,Private,NaN
176,Policygenius,170,25,6/2/2022,InsurTech,New York,TechCrunch,Private,NaN
45,Jellysmack,Unclear,8,6/9/2022,Media/Entertainment,New York,Business Insider,Private,NaN
135,Socure,104,19,1/5/2023,"cybsersecurity, predictive analytics","Incline Village, NV",Biometric Update,Private,NaN
220,Fundbox,150,42,10/25/2022,Fintech,San Francisco,Calcalistech,Private,NaN

# **First Basic Analysis**
### **Objectives:**
- Discover how many unique companies are listed on this dataset
- Check which companies had more and fewer layoff
-

In [5]:
# total rows in the dataset
len(tech_layoffs)

489

In [6]:
# count unique companies in the dataset
tech_layoffs[['company']].nunique()

company    477
dtype: int64

In [7]:
# 489 - 477 = 12 repeated rows = 2 or more layoffs from the same company registered
# checking which companies repeat in the dataset
tech_layoffs[tech_layoffs['company'].duplicated() == True][['company', 'industry']]

            company                          industry   headquarter_location
69           Gemini                   Fintech, Crypto               New York
92   Thirty Madison             health care, wellness  Greater New York area
185        Homeward                          Proptech             Austin, TX
188       DataRobot           AI, enterprise software                 Boston
201          Socure             Identity verification                   Reno
211        TruePill       pharmaceutical, health care            Hayward, CA
249         Argo AI                    Transportation             Pittsburgh
300         On Deck  Networking, business development          San Francisco
342          Sundae                          PropTech          San Francisco
451           Blend                 Fintech, proptech          San Francisco
458           Latch                          PropTech           New York, NY
487          Skillz               Mobile Apps, Gaming          San Francisco

# Analysis 1) Rank which industry had most layoff

# Analysis 2)